<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>회원가입</h1>
    <form action="" method="POST" action=".">
        {% csrf_token %}
        <div>
            {{ error }}
        </div>
        <div>
            <label for="username">유저명</label>
            <input type="text" name="username" id="username" />
        </div>
        <br>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" />
        </div>
        <br>
        <div>
            <label for="re-password">비밀번호 확인</label>
            <input type="password" name="re-password" id="re-password" />
        </div>
        <br>
        <button type="submit">등록</button>
    </form>
</body>

</html>